@tailwind base;
@tailwind components;
@tailwind utilities;

/* base styles */

.light {
  background-color: white;
  color: #111;
}

.dark {
  background-color: #111;
  color: #bbb;
}
h1,
h2 {
  @apply font-bold ;
}
.full-screen{
  min-height:calc(100vh - 104px) ;
}
